<h2 class="title"><a href="/jobs/{{job.name}}">{{job.name}}</a>, build #{{build.number}}
{{#build.success}}<span class="alert alert-success build-headline-status">Success</span>{{/build.success}}
{{^build.success}}<span class="alert alert-error build-headline-status">Failure</span>{{/build.success}}
</h2>
<br><br>

<strong>Date: {{build.date}}</strong><br><br>

<strong>Console output</strong><br>
<pre>
{{build.log}}
</pre>
