<h2 class="title">Welcome to Braindead CI!</h2>
<br><br>

<div class="alert alert-success">
Seems like you just installed Braindead CI. You need to create a user account
to go on.
</div>
<br>

{{>validationErrors}}

<form class="form-horizontal" method="post" action="/users/firstTime">
  <!-- login -->
  <div class="control-group">
    <label class="control-label" for="login">Login</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="login" name="login" value="{{userInput.login}}">
    </div>
  </div>

  <!-- password -->
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" class="input-xlarge" id="password" name="password" value="">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Create user</button>
    </div>
  </div>
</form>
