<h2 class="title">Dashboard</h2>
<br>

{{#noJobYet}}
<br>
<div class="alert alert-info">
Time to create your first job! Click on the 'New job' button on the left.
</div>
{{/noJobYet}}

{{^noJobYet}}
<table class="table">
<thead>
  <tr>
    <th>Job name</th>
    <th>Enabled?</th>
    <th>Last build</th>
    <th>When?</th>
  </tr>
</thead>
<tbody>
  {{#dashboardData}}
  <tr>
    <td>
      <a href="/jobs/{{name}}/homepage" style="color: #333;">{{name}}</a>
    </td>

    <td>
      {{#enabled}}<span class="label label-success">Yes</span>{{/enabled}}
      {{^enabled}}<span class="label label">No</span>{{/enabled}}
    </td>

    <td>
      {{#latestBuild}}
        {{#success}}<span class="label label-success">Success</span>{{/success}}
        {{^success}}<span class="label label-important">Failure</span>{{/success}}
      {{/latestBuild}}

      {{^latestBuild}}
        <span class="label">No build yet</span>
      {{/latestBuild}}
    </td>

    <td>
      {{#latestBuild}}{{timeago}}{{/latestBuild}}
    </td>
  </tr>
  {{/dashboardData}}
  </tbody>
</table>
{{/noJobYet}}
