<h2 class="title">{{job.name}} <a href="/jobs/{{job.name}}/edit">(edit)</a></h2>
<br><br>

Repo: {{job.repoSSHUrl}}<br>
Branch: {{job.branch}}<br>
Number of builds: {{job.numberOfBuilds}}<br><br>

<a href="/jobs/{{job.name}}/builds/new" class="btn">Launch a new build</a><br><br>

{{#job.previousBuilds}}
<a href="/jobs/{{job.name}}/builds/{{number}}" class="build-{{#success}}success{{/success}}{{^success}}fail{{/success}}">
  Build #{{number}} ({{date}})
</a><br>
{{/job.previousBuilds}}
