<h2 class="title">{{job.name}}</h2>

<hr style="margin-bottom: 5px;">
<h4>Configuration <a href="/jobs/{{job.name}}/edit">(change)</a></h4>
Github repo url: <a href="{{job.githubRepoUrl}}" target="_blank">{{job.githubRepoUrl}}</a><br>
SSH url: {{job.repoSSHUrl}}<br>
Branch: {{job.branch}}

<hr style="margin-bottom: 5px; margin-top: 35px;">
<h4>Status</h4>
{{#job.enabled}}
  Job is enabled. <button id='disable-job' class="btn btn-small">Disable it</button>
{{/job.enabled}}
{{^job.enabled}}
  <strong>Job is disabled.</strong> <button id='enable-job' class="btn btn-small btn-primary">Enable it</button>
{{/job.enabled}}

<hr style="margin-bottom: 5px; margin-top: 35px;">
<h4>Builds ({{job.numberOfBuilds}})&nbsp;&nbsp;&nbsp;<button class="btn btn-small" id="new-build" style="position: relative; top:-2px;">New build</button></h4>

{{#job.previousBuilds}}
<a href="/jobs/{{job.name}}/builds/{{number}}" class="build-{{#success}}success{{/success}}{{^success}}fail{{/success}}">
  Build #{{number}} ({{date}})
</a><br>
{{/job.previousBuilds}}


<script>
  var enabled = true
    , $newBuildButton = $('#new-build')
    ;

  // Allow to build the job only if it is enabled
  if (!enabled) {
    $newBuildButton.addClass('disabled');
  } else {
    $newBuildButton.on('click', function () {
      window.location = '/jobs/{{job.name}}/builds/new';
    });
  }

  // Manage enabled/disabled state change
  $('#disable-job').on('click', function () {
    $.ajax({ url: '/jobs/{{job.name}}/disable'
           , type: 'PUT'
           }).done(function () { window.location.reload(true); });
  });

  $('#enable-job').on('click', function () {
    $.ajax({ url: '/jobs/{{job.name}}/enable'
           , type: 'PUT'
           }).done(function () { window.location.reload(true); });
  });
</script>
