<h2 class="title">{{job.name}}</h2>

<hr style="margin-bottom: 5px;">
<h4>Configuration <a href="/jobs/{{job.name}}/edit">(change)</a></h4>
Github repo url: <a href="{{job.githubRepoUrl}}" target="_blank">{{job.githubRepoUrl}}</a><br>
SSH url: {{job.repoSSHUrl}}<br>
Branch: {{job.branch}}

<hr style="margin-bottom: 5px; margin-top: 35px;">
<h4>Status</h4>
Job is enabled

<hr style="margin-bottom: 5px; margin-top: 35px;">
<h4>Builds ({{job.numberOfBuilds}})&nbsp;&nbsp;&nbsp;<a href="/jobs/{{job.name}}/builds/new" class="btn btn-small">New build</a></h4>

{{#job.previousBuilds}}
<a href="/jobs/{{job.name}}/builds/{{number}}" class="build-{{#success}}success{{/success}}{{^success}}fail{{/success}}">
  Build #{{number}} ({{date}})
</a><br>
{{/job.previousBuilds}}
