<h2 class="title">Login</h2>
<br>
<br>

{{>validationErrors}}

<form class="form-horizontal" method="post" action="/login">
  <!-- login -->
  <div class="control-group">
    <label class="control-label" for="login">Login</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="login" name="login" value="{{userInput.login}}">
    </div>
  </div>

  <!-- password -->
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" class="input-xlarge" id="password" name="password" value="">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Log in</button>
    </div>
  </div>
</form>

<!-- What to do if you forgot your password -->
<br>
<button style="font-size: 11px;" class="btn btn-link" id="forgot-password"><em>Forgot password?</em></button>
<div id="forgot-password-explanations" style="display: none;" class="alert alert-info">
Restart Braindead with the -f option and you will be able to create a new user.
</div>
<script>
$('#forgot-password').on('click', function () {
  var $fpe = $('#forgot-password-explanations')

  if ($fpe.css('display') === 'none') {
    $fpe.css('display', 'block');
  } else {
    $fpe.css('display', 'none');
  }
});
</script>
