<h2 class="title"><a href="/jobs/{{job.name}}">{{job.name}}</a> &gt;&gt; New build</h2>
<br><br>

<pre id="buildResult"></pre>


<script>
$(function () {
  var buildResultUrl = "/jobs/{{job.name}}/builds/{{job.nextBuildNumber}}/log"
    , $buildResult = $('#buildResult')
    ;

  function checkBuildStatus () {
    $.ajax({ url: buildResultUrl })
     .done(function (data, textStatus, jqXHR) {
       if (jqXHR.status === 200) {
         $buildResult.html(data.log);
         return;   // Done
       }

       if (jqXHR.status === 206) {
         $buildResult.html(data.log);
         setTimeout(checkBuildStatus, 500);
       }

       if (jqXHR.status === 201) {
         $buildResult.html(data.message);
         setTimeout(checkBuildStatus, 5000);
       }
     })
     .fail(function (jqXHR) {
       $buildResult.html(data.message);
     });
  }

  checkBuildStatus();
});
</script>
