<h2 class="title"><a href="/jobs/{{job.name}}">{{job.name}}</a> &gt;&gt; New build</h2>
<br><br>

<pre id="buildResult"></pre>


<script>
$(function () {
  var xhr = new $.ajaxSettings.xhr()
   , $buildResult = $('#buildResult')
   , $body = $('body');

  xhr.open("GET", "/jobs/{{job.name}}/builds/launch");
  xhr.onreadystatechange = function () {
    if (xhr.readyState == 4 || xhr.readyState == 3) {
      $buildResult.html(xhr.responseText);
      $body.scrollTop($(document).height());
    }
  };
  xhr.send(null);
});
</script>
