<h2 class="title">Settings for user {{login}}</h2>
<br><br>

{{#userEditSuccess}}
<div class="alert alert-success">
<button type="button" class="close" data-dismiss="alert">&times;</button>
Password changed successfully.
</div>
<br>
{{/userEditSuccess}}

{{>validationErrors}}

<legend>Change password</legend>

<form class="form-horizontal" method="post" action="/users/{{login}}/edit">
  <!-- password -->
  <div class="control-group">
    <label class="control-label" for="password">Current password</label>
    <div class="controls">
      <input type="password" class="input-xlarge" id="password" name="password" value="">
    </div>
  </div>

  <!-- new password -->
  <div class="control-group">
    <label class="control-label" for="newPassword">New password</label>
    <div class="controls">
      <input type="password" class="input-xlarge" id="newPassword" name="newPassword" value="">
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Change password</button>
    </div>
  </div>
</form>


<legend>Delete user</legend>
{{^canDeleteUser}}
  Cannot delete the last user or Braindead will act as if it was just installed and
  anybody will be able to create the first admin. Create another user first.
{{/canDeleteUser}}

{{#canDeleteUser}}
  <button id='delete-user' class="btn btn-danger">Delete user</button>
  <script>
    $('#delete-user').on('click', function () {
      var sure = confirm('Are you sure you want to delete user {{login}}?');

      if (sure) {
        $.ajax({ url: '/users/{{login}}'
               , type: 'DELETE'
               })
         .done(function () {
           alert('User {{login}} deleted.');
           window.location = '/users';
         });
      }
    });
  </script>
{{/canDeleteUser}}

