{{#firstTimeUse}}
<h2 class="title">Welcome to Braindead CI!</h2>
{{/firstTimeUse}}
{{^firstTimeUse}}
<h2 class="title">Create a new user account</h2>
{{/firstTimeUse}}
<br><br>

{{#firstTimeUse}}
<div class="alert alert-success">
Seems like you just installed Braindead CI. You need to create a user account
to go on.
</div>
<br>
{{/firstTimeUse}}

{{>validationErrors}}

<form class="form-horizontal" method="post" action="/users/create">
  <!-- login -->
  <div class="control-group">
    <label class="control-label" for="login">Login</label>
    <div class="controls">
      <input type="text" class="input-xlarge" id="login" name="login" value="{{userInput.login}}">
    </div>
  </div>

  <!-- password -->
  <div class="control-group">
    <label class="control-label" for="password">Password</label>
    <div class="controls">
      <input type="password" class="input-xlarge" id="password" name="password" value="">
    </div>
  </div>

  <input type="hidden" name="firstTimeUse" value="{{#firstTimeUse}}true{{/firstTimeUse}}">

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Create user</button>
    </div>
  </div>
</form>
