<h2 class="title">Settings</h2>
<br>
<br>

<legend>Manage users</legend>

<ul>
{{#users}}
<li><a href="/users/{{login}}/edit">{{login}}</a></li>
{{/users}}
</ul>


<br>
<legend>Create a new user</legend>
<a href="/users/create" class="btn btn-success">Create a new user</a>
