body {
  padding-top: 25px;
}

.top-left-title a {
  color: #333;
  font-size: 30px;
  position: relative;
  top: -2px;
}

.title {
  position: relative;
  left: 15px;
  font-weight:300;
  margin-bottom: -10px;
}

