body {
  padding-top: 5px;
}

.top-left-title a {
  color: #333;
  font-size: 30px;
  position: relative;
  top: -2px;
}

.title {
  position: relative;
  left: 15px;
  font-weight:300;
  margin-bottom: -10px;
}

/* Menu */
.menu {
  position: relative;
  top: -12px;
}

.menu-greeting {
  color: #666;
  font-style: italic;
}

.menu-icon {
  opacity: 0.55;
  float: right;
}

.menu-icon:hover {
  opacity: 1;
}


/* Styling links to builds in job recap page */
.build-success {
  color: #468847;
}
.build-success:hover {
  color: #468847;
}

.build-fail {
  color: #b94a48;
}
.build-fail:hover {
  color: #b94a48;
}

/* Styling build status in build status page */
.build-headline-status {
  padding-left: 14px;
  padding-right: 14px;
}
