<span class="menu">
Hello, {{loggedUser.login}}
&nbsp;&nbsp;

<a href="/logout"><i class="icon-off menu-icon" data-title="test"></i></a>
<a href="/settings"><i class="icon-wrench menu-icon"></i></a>

<!--
<span style="float: right;">
</span>
-->

</span>

{{^firstTimeUse}}
  <ul class="nav nav-tabs nav-stacked" id="sidenav">
    {{#jobsNames}}
    <li><a href="/jobs/{{.}}/homepage">{{.}}</a></li>
    {{/jobsNames}}
  </ul>
  <a href="/jobs/new" class="btn">New job</a>
  <br><br>
{{/firstTimeUse}}

<script>
$('.menu-icon').tooltip();
</script>
