<div class="menu">
  <span class="menu-greeting">Hello, {{loggedUser.login}}</span>

  <a href="/logout"><i class="icon-off menu-icon" data-title="Logout"></i></a>
  <a href="/settings"><i class="icon-wrench menu-icon" data-title="Settings" style="position: relative; left: -5px;"></i></a>
</div>


{{^firstTimeUse}}
  <ul class="nav nav-tabs nav-stacked" id="sidenav">
    {{#jobsNames}}
    <li><a href="/jobs/{{.}}/homepage">{{.}}</a></li>
    {{/jobsNames}}
  </ul>
  <a href="/jobs/new" class="btn">New job</a>
  <br><br>
{{/firstTimeUse}}

<script>
$('.menu-icon').tooltip({ animation: false
                        , placement: 'bottom'
                        });
</script>
