<div class="menu">
  <span class="menu-greeting">Hello, {{loggedUser.login}}</span>

  <a href="/logout"><i class="icon-off menu-icon" data-title="Logout"></i></a>
  <a href="/"><i class="icon-home menu-icon" data-title="Dashboard" style="position: relative; left: -5px;"></i></a>
</div>

{{^firstTimeUse}}
  <ul class="nav nav-tabs nav-stacked" id="sidenav">
    <li><a href="/settings">Third-party services</a></li>
    <li><a href="/users">Manage users</a></li>
  </ul>
{{/firstTimeUse}}


<script>
$('.menu-icon').tooltip({ animation: false
                        , placement: 'bottom'
                        });
</script>
