<span style="position: relative; top: -10px; opacity: 0.7;">
<a style="color:#333; font-style: italic;" href="/"><i class="icon-home"></i> Dashboard</a>
&nbsp;&nbsp;&nbsp;&nbsp;<a style="color:#333; font-style: italic;" href="/logout"><i class="icon-off"></i> Logout</a>
</span>

{{^firstTimeUse}}
  <ul class="nav nav-tabs nav-stacked" id="sidenav">
    <li><a href="/settings">Third-party services</a></li>
    <li><a href="/users">Manage users</a></li>
  </ul>
{{/firstTimeUse}}
