<span style="position: relative; top: -10px; opacity: 0.7;">
Hello, {{loggedUser.login}} (<a style="color:#333; font-style: italic;" href="/logout">logout</a>)
</span>

{{^firstTimeUse}}
  <ul class="nav nav-tabs nav-stacked" id="sidenav">
    <li><a href="/settings">Third-party services</a></li>
    <li><a href="/users">Manage users</a></li>
  </ul>
{{/firstTimeUse}}

<a style="color:#333; font-style: italic;" href="/"><i class="icon-home"></i> Dashboard</a>
